*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
body{
    background-image: url("/assets/images/backgr.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: blue;
}
.body{
    padding-top: 40px;
    font-size: 20px;
}