*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: green;
}
body{
    background-image: url("/assets/images/backgr.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: black;
}
.body{
    padding-top: 40px;
    font-size: 20px;
}
#results{
    background-color: white;
    width: 40%;
    height: 200px;
    margin-left: 32%;
    font-size: 20px;
}
output{
    padding: 10px;
}
.income{
    background-color: white; 
    width: 40%;
    margin-left: 32%;
    height: 100px;
}
.report{
    background-color: white; 
    width: 40%;
    margin-left: 32%;
    height: 400px;
}
button{
    font-size: 18px;
    background-color:grey ;
}
label{
    color: green;
}